/*NAVBAR*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 15px 10px;
  background-color: var(--opacity-black);
  backdrop-filter: blur(10px);
  color: var(--white);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99999;
}

.navbar .brand {
  display: flex;
  flex-direction: column;
}

.brand {
  margin-left: 12px;
}

.brand .title {
  font-size: 3rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: var(--primary);
}

.brand p {
  font-size: 1rem;
}

ul {
  display: block;
}

.menus {
  align-self: center;
}

.menus ul {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  list-style: none;
  margin-left: 2rem;
  padding: 0;
}

.menus li a {
  text-decoration-line: none;
  font-size: 1.2rem;
  color: var(--primary);
  padding: 10px;
  border-radius: 12px;
  transition: 200ms;
}

.menus li a:hover {
  background: var(--primary);
  color: var(--black);
}

.brand .pretitle {
  font-weight: semibold;
  padding: 0;
  margin: 0;
}

.brand .pretitle b {
  color: var(--primary);
}

/*NAVBAR MOBILE*/

.navbar-mobile {
  background-color: var(--black);
  color: white;
  position: fixed;
  top: 73px;
  left: 0;
  right: 0;
  z-index: 9999;
  overflow: hidden;
  transition: top 0.3s ease-in-out;
  padding: 1rem;
  display: none;
  height: 100%;
}

.navbar-mobile div {
  text-align: center;
  margin: 20px 20px;
  padding: 10px;
}

.navbar-mobile div a {
  color: var(--primary);
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  transition: 200ms;
  padding: 10px;
}

.navbar-mobile div a:hover {
  background-color: var(--primary);
  border-radius: 13px;
  color: var(--black);
}
